body{
font-family: "Plus Jakarta Sans", sans-serif;
font-size: 14px;
}

.home-icon{
 margin-top: 10rem!important;;
}
.provider{
  background-color: #74cb97;
  color: white;
  border-radius: 30px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.provider a{
  color: white;
  font-size: 3.5rem;
}

.Provider-submenu{
  background-color:#235165;
}

.Provider-submenu a{
  color: white;
  font-weight: bold;
}
.broker {
  background-color: #47c4df;
  color: white;
  border-radius: 30px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.broker a {
  color: white;
  font-size: 3.5rem;
}

.broker-sub-menu{
  background-color:#47c4df;
  color: white;
  border-radius: 15px;
  padding-bottom: 1rem;
  padding-top: 1rem;

}

.broker-sub-menu-link {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1rem;

}

.client{
  background-color: #808fe1;
  color: white;
  border-radius: 30px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.client a {
  color: white;
  font-size: 3.5rem;
}

.provider:hover, .broker:hover, .client:hover{
  background-color: #ffd700;;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.title{
  color: white;
  font-size: 2.5rem;
}
.sidebar{

  background-color: #235165;
}

.list-group-item{
  background-color: #235165;
}

.list-group a {
  color: white;
}

.list-group a:hover{
  background-color: #0b7fb0;
color: white;
cursor: pointer;
text-decoration: none;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #235165;
  color: white;
  font-weight: bolder;
}
tbody td {
font-weight: 500;
color: #696767;
text-transform: capitalize;
border-bottom: 1px solid #dee2e6 !important;
}
.title-heders{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.50rem;
  border-bottom: 2px solid #dee2e6;
  padding-top: 0.5em;
}
.table tr th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #235165;
  color: white;
  font-weight: bolder;
  
}
tr td {
  font-weight: 500;
  color: #696767;
  text-transform: capitalize;
  border-bottom: 1px solid #dee2e6 !important;
  }

.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}