@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* main body */
body{
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 14px;
  background-color: #E7F2FF; 
}

/* side bar */
.sidebar{
  background-color: #235165;
  padding-top: 10px;
}
.sidebar-menu{   
  font-size: 14px;
  padding: 2px;
  margin-top: 2em;
  color: white !important;
}
.sidebar-menu a {
  color: white !important;
}
.sidebar-menu:hover {
  color: #47c4df;
}
.ms-1{
  padding-left: .8rem;
}
.ms-1:hover {
  color: #47c4df;
}

label::after {
  font-weight: 200;
  font-size: 16px;
  content: "*";
  color: #ff6600;
}

/* menus */
.top-menu{   
  font-size: 17px;
  padding: 10px;
  color: white !important;
}
.top-menu a {
  color: white !important;
  text-decoration: none;
}
.menu-space{
  padding-left: 1rem;
}
.menu-space.brok:hover{
  color:#1e5268;
}
.menu-space.prov:hover{
  color:#296124;
}
.menu-space.clnt:hover{
  color:#2b3670;
}
.menu-space.wall:hover{
  color: #235165;
}
.navbar{
  padding-left: 2em;
}
.navbar-brand.brok:hover{
  color:#1e5268;
}
.navbar-brand.prov:hover{
  color:#296124;
}
.navbar-brand.clnt:hover{
  color:#2b3670;
}
.navbar-brand.wall:hover{
  color: #235165;
}
.logo-menu{   
  border-radius: 16px;
  font-size: 16px;
  padding: 10px 14px 10px 14px;
  color: white !important;
}
.logo-menu.c{   
  background-color:#5c6dc3;
}
.logo-menu.c:hover{   
  background-color: #2b3670;
}
.logo-menu.b{   
  background-color: #35a8c2;
}
.logo-menu.b:hover{   
  background-color: #1e5268;
}
.logo-menu.p{   
  background-color: #5aad7b;
}
.logo-menu.p:hover{   
  background-color: #296124;
}

.drop-down{
  height: 43px;
}

/* titles */
.title{
  color: white;
  font-size: 2.5rem;
}
.page-title{
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
}
.fs-2{
  position: absolute;
  font-size: 35px;
  top: 60%;
  left: 15%;
}
.fs-5{
  color: #fff;
  letter-spacing: .1rem;
}

/* icons */
.home-icon{
  margin-top: 10rem!important;;
}
.icon-1{
  position: absolute;
  max-width: 20%;
  top: 11%;
  right: 11%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* welcome message */
.welcome-message{
  color: #235165;
  padding: 5px;
  margin-top: 5rem!important;
}

/* section */
section {
  display: block;
  float: left;
  width: 100%;
}

/* to remove spaces in header and footer */
.col-3{
  padding-right: 0;
}
.col-4{
  padding-left: 2em;
}
.col-7{
  padding-left: 2em;
}
.col-10{
  padding-left: 2em;
}
.col-10.brok{
  padding: 2em;
  margin-left: 2em;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.col-10.sensor-form{
  padding: 2em;
  margin-left: 2em;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.col-12{
  padding-left: 0px;
  padding-right: 0px;
}
.col-12.popup{
  padding-left: 1em;
}

.pt-3, .py-3{
  padding-top: 0rem !important;
}

/* images */
img {
  max-width: 100%;
}

/* links */
a {
  color: #000;
}
a:hover {
  color: #b5b5b6;
}

/* header texts */
h1 {
  font-weight: 600;
  /*font-size: 56px;
  line-height: 71px;*/  
}
h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px; 
}
h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #fff;
}
h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

/* specific text */
.text-white {
  color: #fff;
}
.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* provider */
.provider{
  font-weight: 300;
  background-color: #74cb97;
  color: white;
  border-radius: 30px;
  padding: 5rem 10rem 5rem 5rem;
}
.provider a{
  color: white;
  font-size: 3.5rem;
}
.provider:hover{
  background-color: #296742;
}
.provider-menu{
  background-color: #74cb97;
}

.Provider-submenu{
  background-color: #235165;
}
.Provider-submenu a{
  color: white;
  font-weight: bold;
}

/* broker */
.broker {
  background-color: #47c4df;
  color: white;
  border-radius: 30px;
  padding: 5rem 10rem 5rem 5rem;
}
.broker a {
  color: white;
  font-size: 3.5rem;
}
.broker:hover{
  background-color: #1e5268;
}
.broker-menu{
  background-color: #47c4df;
}
.broker-sub-menu{
  background-color:#47c4df;
  color: white;
  border-radius: 15px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.broker-sub-menu-link {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
}

/* client */
.client{
  background-color: #808fe1;
  color: white;
  border-radius: 30px;
  padding: 5rem 10rem 5rem 5rem;
}
.client a {
  color: white;
  font-size: 3.5rem;
}
.client:hover{
  background-color: #2b3670;
}
.client-menu{
  background-color:  #808fe1;
}

/* buttons */
.btn {
  padding: 10px 20px;
  font-size: 14px;
  transition: 0.2s;
  border: 1px solid transparent;
  text-decoration: none;
}
.btn-add {
  content: '\F3AA';
  background: #296124;
  color: #fff;
  border-radius: 12px;
  font-weight: bold;
}
.btn-add:hover{
  content: '\F3AA';
  background: #28716a;
  color: #fff;
}
.btn-add:focus{
  background: #28716a;
  outline: 0 !important;
  border: none;}

.btn-map {
  content: '\F3AA';
  background: #235165;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.btn-map {
  content: '\F3AA';
  background: #235165;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.btn-add:hover{
  content: '\F3AA';
  background: #28716a;
  color: #fff;
}
.btn-add:focus{
  background: #28716a;
  outline: 0 !important;
  border: none;
}

/* form css */
.form-group.pk-req{
  padding: 2em 2em .8em 2em;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form-group.pk-req1{
  padding: 0em 1.5em 1em 1.5em;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form-group.meta{
  padding: 1em 1em 0em 1.5em;
  border: solid 1px;
  border-color: #e0e6f7;
  border-radius: 20px;
}
.form-control {
  border: 1px solid #e0e6f7;
  border-radius: 8px;
  background-color: #fff;
  padding: 11px 15px 13px 15px;
  width: 100%;
  color: #a0abb8;
}
.form-control::-moz-placeholder {
  color: #a0abb8;
}
.form-control::placeholder {
  color: #a0abb8;
}
.form-group {
  position: relative;
  font-weight: bold;
}
.form-group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 18px;
  color: #a0abb8;
}
.form-icons {
  padding-left: 41px;
}
.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/* lists */
ul {
  list-style: none;
}
.list-group-item{
  background-color: #235165;
  font-size: 14px;
  padding: 10px;
  line-height: 30px;
}
.list-group a {
  color: white;
}
.list-group a:hover{
  background-color: #235165;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* tables */
.table{
  border-radius: 20px;
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}
.table-responsive{
  overflow-x:unset;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.table-light{
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.table thead th {
  vertical-align: bottom;
  background: #235165;
  color: white;
  padding: 1em;
  font-weight: 300;
}
.tbody td {
  font-weight: 500;
  color: #696767;
  text-transform: capitalize;
  border-bottom: 0px solid #dee2e6 !important;
}
.title-heders{
  font-weight: bold;
  text-transform: capitalize;
  color: #235165;
  font-size: 1.50rem;
  /*border-bottom: 1px solid #a0abb8;*/
  padding-bottom: .2em;
  padding-left: 1.1em;
  padding-top: 1em;
}
.table tr th {
  vertical-align: bottom;
  background: #235165;
  color: white;
  border-style: hidden;
}
.tr td {
  font-weight: 500;
  color: #696767;
  text-transform: capitalize;
}
/* Apply a border to the right of all but the last column */
table th:not(:last-child),
table td:not(:last-child) {
  border-right: var(--border);
}
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
  border-bottom: var(--border);
}
tbody tr:nth-child(even) {
  background-color: #e4f1f3;
}

/* hover methods */
:hover {
  transition-duration: 0.2s;
}

/* component transitions */
a,
button,
h4,
img,
input,
span {
  transition: all 0.3s ease 0s;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* moz stuff */
::-moz-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
::-moz-placeholder {
  color: #a0abb8;
  opacity: 1;
}
::placeholder {
  color: #a0abb8;
  opacity: 1;
}
:-ms-input-placeholder,
::-webkit-input-placeholder {
  color: #a0abb8;
  opacity: 1;
}
.position-relative {
  position: relative;
}
:focus,
[contenteditable].form-control:focus,
[type="email"].form-control:focus,
[type="password"].form-control:focus,
[type="tel"].form-control:focus,
[type="text"].form-control:focus,
button:focus,
input.form-control:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus {
  outline: 0 !important;
  border: 1px  solid #235165;
  box-shadow: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.drop-down[type="file"]{
  padding: .20em;
  border: none;
}
input::file-selector-button {
  background-color: #50849a;
  color: white;
  padding: .5em 1em .5em 1em;
  border: none;
  border-radius: 8px;
}

.hover-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.hover-up:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
/* footer */
.footer{
  background-color: #235165;
  color: #fff;
  font-size: 08px;
 }

/*
details,
footer,
header,
menu,
nav,
*/