@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* main body */
body{
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 14px;
  background-color: #E7F2FF; 
}

/* side bar */
.sidebar{
  background-color: #235165;
  padding-top: 10px;
}
.sidebar-menu{   
  font-size: 14px;
  padding: 2px;
  margin-top: 2em;
  color: white !important;
}
.sidebar-menu a {
  color: white !important;
}
.sidebar-menu:hover {
  color: #47c4df;
}
.ms-1{
  padding-left: .8rem;
}
.ms-1:hover {
  color: #47c4df;
}

/* menus */
.top-menu{   
  font-size: large;
  padding: 10px;
  color: white !important;
}
.top-menu a {
  color: white !important;
  text-decoration: none 
}
.drop-down{
  height: 43px;
  color: black;
}

/* titles */
.title{
  color: white;
  font-size: 2.5rem;
}
.page-title{
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
}
.fs-2{
  position: absolute;
  font-size: 35px;
  top: 60%;
  left: 15%;
}

.fs-5{
  color: #fff;
  letter-spacing: .1rem;
}

/* icons */
.home-icon{
  margin-top: 10rem!important;;
}
.icon-1{
  position: absolute;
  max-width: 20%;
  top: 11%;
  right: 11%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* welcome message */
.welcome-message{
  color: #235165;
  padding: 5px;
  margin-top: 5rem!important;
}

/* section */
section {
  display: block;
  float: left;
  width: 100%;
}

/* images */
img {
  max-width: 100%;
}

/* links */
a {
  color: #000;
}
a:hover {
  color: #b5b5b6;
}

/* header texts */
h1 {
  font-weight: 600;
  /*font-size: 56px;
  line-height: 71px;*/  
}
h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px; 
}
h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #fff;
}
h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

/* form css */
.form-control {
  border: 1px solid #e0e6f7;
  border-radius: 4px;
  background-color: #fff;
  padding: 11px 15px 13px 15px;
  width: 100%;
  color: #a0abb8;
}
.form-control::-moz-placeholder {
  color: #a0abb8;
}
.form-control::placeholder {
  color: #a0abb8;
}
.form-group {
  position: relative;
  font-weight: bold;
}
.form-group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 18px;
  color: #a0abb8;
}
.form-icons {
  padding-left: 41px;
}
.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/* specific text */
.text-white {
  color: #fff;
}
.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* component transitions */
a,
button,
h4,
img,
input,
span {
  transition: all 0.3s ease 0s;
}

/* buttons */
.btn {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  transition: 0.2s;
}
.btn-add {
  content: '\F3AA';
  background: #296124;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

/* provider */
.provider{
  font-weight: 300;
  background-color: #74cb97;
  color: white;
  border-radius: 30px;
  padding: 5rem 10rem 5rem 5rem;
}
.provider a{
  color: white;
  font-size: 3.5rem;
}
.provider:hover{
  background-color: #296742;
}
.Provider-submenu{
  background-color:#235165;
}
.Provider-submenu a{
  color: white;
  font-weight: bold;
}
/* broker */
.broker {
  background-color: #47c4df;
  color: white;
  border-radius: 30px;
  padding: 5rem 10rem 5rem 5rem;
}
.broker a {
  color: white;
  font-size: 3.5rem;
}
.broker:hover{
  background-color: #1e5268;
}
.broker-menu{
  background-color: #47c4df;
}
.broker-sub-menu{
  background-color:#47c4df;
  color: white;
  border-radius: 15px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.broker-sub-menu-link {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
}

/* client */
.client{
  background-color: #808fe1;
  color: white;
  border-radius: 30px;
  padding: 5rem 10rem 5rem 5rem;
}
.client a {
  color: white;
  font-size: 3.5rem;
}
.client:hover{
  background-color: #2b3670;
}

/* hover methods */
:hover {
  transition-duration: 0.2s;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* lists */
ul {
  list-style: none;
}
.list-group-item{
  background-color: #235165;
  font-size: 14px;
  padding: 10px;
  line-height: 30px;
}
.list-group a {
  color: white;
}
.list-group a:hover{
  background-color: #235165;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* tables */
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #235165;
  color: white;
  font-weight: bolder;
}
.tbody td {
  font-weight: 500;
  color: #696767;
  text-transform: capitalize;
  border-bottom: 1px solid #dee2e6 !important;
}
.title-heders{
  font-weight: bold;
  text-transform: capitalize;
  color: #235165;
  font-size: 1.50rem;
  border-bottom: 1px solid #9ba1a5;
  padding-bottom: 1em;
  padding-top: 1em;
}
.table tr th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background: #235165;
  color: white;
  font-weight: bolder;
}
.tr td {
  font-weight: 500;
  color: #696767;
  text-transform: capitalize;
  border-bottom: 1px solid #dee2e6 !important;
}

/* moz stuff */
::-moz-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
::-moz-placeholder {
  color: #a0abb8;
  opacity: 1;
}
::placeholder {
  color: #a0abb8;
  opacity: 1;
}
:-ms-input-placeholder,
::-webkit-input-placeholder {
  color: #a0abb8;
  opacity: 1;
}
.position-relative {
  position: relative;
}
:focus,
[contenteditable].form-control:focus,
[type="email"].form-control:focus,
[type="password"].form-control:focus,
[type="tel"].form-control:focus,
[type="text"].form-control:focus,
button:focus,
input.form-control:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus {
  outline: 0 !important;
  border: 1px  solid #235165;
  box-shadow: none;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.hover-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.hover-up:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
/* footer */
.footer{
  background-color: #235165;
  color: #fff;
  font-size: 08px;
 }

/*
details,
footer,
header,
menu,
nav,
*/